In [5]:
# 문제1
import pandas as pd

data = {
    'name':['둘리', '또치', '도우너', '희동이'],
    'kor':[90, 80, 70, 70],
    'eng':[99, 98, 97, 46],
    'mat':[90, 70, 70, 60],
}
df = pd.DataFrame(data)
df['class'] = ['1반', '2반', '1반', '2반']
print(df)

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반

In [9]:
# 문제2
df.loc[4] = ['마이콜', 80, 80, 80, '1반']
print(df)

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반
4  마이콜   80   80   80    1반

In [15]:
# 문제3

df2 = df.set_index('name')
# print(df2)
df3 = df2.rename(columns = {'kor' : '국어',
                            'eng' : '영어',
                            'mat' : '수학',
                            'class' : '반번호',})
print(df3)

      국어  영어  수학 반번호
name
둘리    90  99  90  1반
또치    80  98  70  2반
도우너   70  97  70  1반
희동이   70  46  60  2반
마이콜   80  80  80  1반

In [62]:
# 문제4
df3.loc['마이콜', ['국어', '영어', '수학']] = 100
df3.loc['희동이', ['영어']] = 90
df3

       국어   영어   수학 반번호
name
둘리     90   99   90  1반
또치     80   98   70  2반
도우너    70   97   70  1반
희동이    70   90   60  2반
마이콜   100  100  100  1반

In [64]:
# 문제5
df = df3.reset_index()
df = df.rename(columns = {'name':'성명'})
df

    성명   국어   영어   수학 반번호
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
4  마이콜  100  100  100  1반

In [87]:
# 문제6
df1 = df.sort_values(by = '국어', ascending=False)
df2 = df.sort_values(by = '영어', ascending=True)
print(df1,'\n','\n', df2)

    성명   국어   영어   수학 반번호
4  마이콜  100  100  100  1반
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반

     성명   국어   영어   수학 반번호
3  희동이   70   90   60  2반
2  도우너   70   97   70  1반
1   또치   80   98   70  2반
0   둘리   90   99   90  1반
4  마이콜  100  100  100  1반

In [97]:
# 문제7

df['총점'] = df['국어'] + df['영어'] + df['수학']
df = df.sort_values(by='총점', ascending=False)
print(df)

    성명   국어   영어   수학 반번호   총점
4  마이콜  100  100  100  1반  300
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220

In [100]:
# 문제8

df3 = df.drop('반번호', axis=1)
print(df3)
print(df)

    성명   국어   영어   수학   총점
4  마이콜  100  100  100  300
0   둘리   90   99   90  279
1   또치   80   98   70  248
2  도우너   70   97   70  237
3  희동이   70   90   60  220
    성명   국어   영어   수학 반번호   총점
4  마이콜  100  100  100  1반  300
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220

In [103]:
# 문제9

df4 = df.drop(4, axis=0)
print(df4)
print(df)

    성명  국어  영어  수학 반번호   총점
0   둘리  90  99  90  1반  279
1   또치  80  98  70  2반  248
2  도우너  70  97  70  1반  237
3  희동이  70  90  60  2반  220
    성명   국어   영어   수학 반번호   총점
4  마이콜  100  100  100  1반  300
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220

In [130]:
# 문제10

data1 = {'kor':90, 'mat':80}
data2 = {'kor':90, 'eng':70}
data3 = {'kor':90, 'eng':70, 'mat':80}
series1 = pd.Series( data1 )
series2 = pd.Series( data2 )
series3 = pd.Series( data3 )
result = series1 + series2 + series3
# print(result)

series1['eng'] = 0
series2['mat'] = 0
result = series1 + series2 + series3
print(result)

# 다른방법
result = series1.add(series2, fill_value = 0)
result = result.add(series3, fill_value = 0)
print(result)

eng    140
kor    270
mat    160
dtype: int64
eng    140
kor    270
mat    160
dtype: int64

In [134]:
# 문제11

data = {
    'X1':[2.9, 2.4, 2, 2.3, 3.2],
    'X2':[9.2, 8.7, 7.2, 8.5, 9.6],
    'X3':[13.2, 11.5, 10.8, 12.3, 12.6],
    'X4':[2, 3, 4, 3, 2]
} 
df = pd.DataFrame(data, index=['Y1','Y2','Y3', 'Y4', 'Y5'])
# print(df)

# 1
df.loc['Y6'] = [10, 20, 30, 40]
# print(df)

# 2
df2 = df + 10
# print(df2)

# 3
df2['total'] = df2['X1'] + df2['X2'] + df2['X3'] + df2['X4']
# print(df2)

# 4
df3 = df2.transpose() # df3 = dt2.T
print(df3)

         Y1    Y2    Y3    Y4    Y5     Y6
X1     12.9  12.4  12.0  12.3  13.2   20.0
X2     19.2  18.7  17.2  18.5  19.6   30.0
X3     23.2  21.5  20.8  22.3  22.6   40.0
X4     12.0  13.0  14.0  13.0  12.0   50.0
total  67.3  65.6  64.0  66.1  67.4  140.0